<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="refresh" content="0; url=http://localhost:3000/login/">

    <title>redirect</title>
</head>
<body>
    <p>Redirecionando... se nao for redirecionado, clique <a href="http://localhost:3000/login/">aqui</a></p>
    
</body>
</html>